{% extends "layout.html.twig" %}
{% set active_page = "feed" %}

{% block title %}News Feed{% endblock %}

{% block content %}
    <h1>News Feed</h1><hr class="colorgraph"><br>

    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div class="row">
                <div class="col-xs-12">
<!-- feed -->
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="media-list comments">
                                {% for serie in series %}
                                <li class="media">
                                    <a class="pull-left" href="{{ path('user-profile-public', {username: serie.username}) }}">
                                        <img class="media-object img-circle img-thumbnail" src="{% if serie.fid != '' %}http://graph.facebook.com/{{ serie.fid }}/picture?width=50&height=50{% else %}http://placehold.it/50x50&text=&nbsp;{% endif %}" width="50">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="media-heading pull-left" style="text-transform: capitalize;">{{ serie.name }}</h5>
                                        <div class="comment-info pull-right">
                                            {% if serie.nb > 0 %}<div class="btn btn-info btn-xs"><i class="fa fa-trophy"></i> {{ serie.nb }}</div>{% endif %}
                                            <div class="btn btn-default btn-xs"><i class="fa fa-clock-o"></i> {{ serie.timestamp|date('F jS') }}</div>
                                            <button type="button" class="btn btn-xs btn-outline btn-primary" data-toggle="modal" data-target="#modalCompose" onclick="popForm('{{ serie.userId }}', '{{ serie.date }}');">
                                                <i class="fa fa-comment"></i>
                                            </button>
                                        </div>
                                    </div>
                                    {% if serie.comments is iterable and serie.comments|length %}
                                    <div class="well">
                                        {% for key, comment in serie.comments %}
                                            {% if key != 0  %}
                                        <hr />
                                            {% endif %}
                                        <h5><span style="text-transform: capitalize;">{{ comment.user.name }}</span> said: <br> <small>{{ comment.comment }}</small></h5>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="row">
                <div class="col-xs-12">

                    <h3>Today's Top 5</h3>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th class="text-center">100s</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key, user in topD %}
                                <tr>
                                    <td class="vert-align">{{ key+1 }}</td>
                                    <td class="vert-align" style="text-transform: capitalize;"><img src="{% if user.fid != '' %}http://graph.facebook.com/{{ user.fid }}/picture?width=20&height=20{% else %}http://placehold.it/20x20&text=&nbsp;{% endif %}" class="img-circle"> <a href="{{ path('user-profile-public', {username: user.username}) }}">{{ user.name }}</a></td>
                                    <td class="vert-align active text-center">{{ user.nb ? : 0 }}</td>
                                    <td class="vert-align">
                                        <button type="button" class="btn btn-xs btn-outline btn-primary" data-toggle="modal" data-target="#modalCompose" onclick="popForm('{{ user.userId }}', '{{ user.date }}');">
                                            <i class="fa fa-comment"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12">

                    <h3>Yesterday's Top 5</h3>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th class="text-center">100s</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key, user in topD %}
                                <tr>
                                    <td class="vert-align">{{ key+1 }}</td>
                                    <td class="vert-align" style="text-transform: capitalize;"><img src="{% if user.fid != '' %}http://graph.facebook.com/{{ user.fid }}/picture?width=20&height=20{% else %}http://placehold.it/20x20&text=&nbsp;{% endif %}" class="img-circle"> <a href="{{ path('user-profile-public', {username: user.username}) }}">{{ user.name }}</a></td>
                                    <td class="vert-align active text-center">{{ user.nb ? : 0 }}</td>
                                    <td class="vert-align">
                                        <button type="button" class="btn btn-xs btn-outline btn-primary" data-toggle="modal" data-target="#modalCompose" onclick="popForm('{{ user.userId }}', '{{ user.date }}');">
                                            <i class="fa fa-comment"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modalCompose" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Write a Comment</h4>
                </div>
                <div class="modal-body">
                    <form role="form" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-12" for="inputBody">Message</label>
                            <div class="col-sm-12"><textarea class="form-control" id="inputBody" rows="8"></textarea></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary " onclick="sendForm();">Post <i class="fa fa-arrow-circle-right fa-lg"></i></button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <form action="{{ path('feed') }}" method="POST" id="commentForm">
        <input type="hidden" name="fid" id="fid" value="" />
        <input type="hidden" name="fdt" id="fdt" value="" />
        <input type="hidden" name="comment" id="comment" value="" />
    </form>
{% endblock %}


{% block footerjs %}
    {{ parent() }}
    <script>
        function popForm(id, dt)
        {
            $('#commentForm #fid').val(id);
            $('#commentForm #fdt').val(dt);
        }
        function sendForm()
        {
            $('#commentForm #comment').val($('#inputBody').val());
            $('#commentForm').submit();
        }
        $(function() {
            $('#modalCompose').on('shown.bs.modal', function () {
                $('#inputBody').focus()
            });

        });

    </script>
{% endblock %}