{% extends "layout.html.twig" %}
{% set active_page = "leaderboard" %}

{% block title %}Leaderboard{% endblock %}

{% block content %}
    <h1>Leaderboard</h1><hr class="colorgraph"><br>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th class="text-center">100s</th>
                <th class="text-center">Today</th>
                <th class="text-center"><span class="hidden-xs">Yesterday</span></th>
            </tr>
            </thead>
            <tbody>
            {% for num, user in users %}
            <tr>
                <td class="vert-align">{{ num+1 }}</td>
                <td class="vert-align" style="text-transform: capitalize;"><img src="{% if user.fid != '' %}http://graph.facebook.com/{{ user.fid }}/picture{% else %}http://placehold.it/50x50&text=&nbsp;{% endif %}" class="img-circle"> {{ user.name }}</td>
                <td class="vert-align active text-center"><h4>{{ user.nbSeries ? : 0 }}</h4></td>
                <td class="text-center vert-align"><h4>{{ user.yesterday ? : 0 }}</h4></td>
                <td class="text-center vert-align"><h4>{{ user.today ? : 0 }}</h4></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


{% block footerjs %}
    {{ parent() }}
{% endblock %}