{% extends "layout.html.twig" %}
{% set active_page = "public-profile" %}

{% block title %}Thomas Picquet{% endblock %}

{% block content %}
    <h1 style="text-transform: capitalize;">{{ user.name }}</h1><hr class="colorgraph"><br>
    <div class="row">
        <!-- left column -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="text-center">
                {% if user.fid != '' %}
                    <img src="http://graph.facebook.com/{{ user.fid }}/picture?type=large" class="avatar img-circle img-thumbnail" alt="avatar">
                {% else %}
                    <img src="http://placehold.it/200x200&text=FB+Profile+Picture" class="avatar img-circle img-thumbnail" alt="avatar">
                {% endif %}
            </div>
            <br>
        </div>
        <div class="col-md-8 col-sm-6 col-xs-12">
            <div class="row">

                <div class="col-xs-12 col-sm-4">
                    <div class="alert alert-info text-center">
                        <h4><strong><i class="fa fa-trophy"></i> TOTAL </strong></h4>
                        <p><strong>{{ user.total }}</strong></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="alert alert-warning text-center">
                        <h4><strong>Today</strong></h4>
                        <p>{{ user.today }}</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="alert alert-warning text-center">
                        <h4><strong>Yesterday </strong></h4>
                        <p>{{ user.yesterday }}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br>

    <a name="charts"></a>
    <div class="panel panel-default">
        <div class="panel-heading">
            History
        </div>
        <div class="panel-body">
            <div id="morris-area-chart"></div>
        </div>
    </div>
{% endblock %}


{% block footerjs %}
    {{ parent() }}
    <script>
        $(function() {

            new Morris.Area({
                element: 'morris-area-chart',
                data: [
                    {% for se in series %}
                    { day: '{{ se.date }}', sets: {{ se.nb }} },
                    {% endfor %}
                ],
                pointSize: 3,
                goalStrokeWidth: 0.7,
                lineColors:['#316EA2'],
                resize: false,
                grid: true,
                xkey: 'day',
                xLabels: 'day',
                ykeys: ['sets'],
                labels: ['100s']
            });

        });


    </script>
{% endblock %}